{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}CLAP | Reservacion {% endblock %}
{% load url from future %}
{% block stylesheet %}

{% endblock %}

{% block content %}
    {% include 'navbar_content.html' %}
    {% include 'subnavbar.html' %}

    <br/>
    <!-- MainContainer -->
    <div class="container-fluid">
        <div class="content">
            <h3>Seleccione una actividad</h3>
        </div>


    </div>
    <!-- /MainContainer -->
    <script>

    </script>
{% endblock %}